{% extends "base.html" %}

{% block content %}

    <!-- Hero image -->
    <header class="py-5 bg-image-full" style="background-image: url('assets/images/mic.jpg')">
        <div style="height: 20rem"></div>
        <div class="text-center my-5">
            <h1 class="text-white fs-3 fw-bolder">Welcome to The NewsBox</h1>
            <p class="text-white-50 mb-0">You decide what's newsworthy</p>
        </div>
    </header>

    <!-- Why choose section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Why Choose Paul Thomas PT services?</h2>
                    <p class="lead">After 20+ years in the fitness industry, I feel like I have developed a deep
                        understanding of the key barriers to an active healthy lifestyle as well
                        as some of the major motivators to help people make a change.</p>
                    <p class="mb-0">My goal is to help people realise their
                        potential, and to do so I think it's important that people understand that we all start from
                        different places. <br>
                        Unfortunately, the rhythm, distraction, obligations, and stress of modern life present lots of
                        obstacles for people to realise their
                        their potential- that's where I come in!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Image element -->
    <div class="py-5 bg-image-full" style="background-image: url('assets/images/kb.jpg')">
        <div style="height: 30rem"></div>
    </div>
    <!-- What is the sweatbox-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>What is The SweatBox?</h2>
                    <p class="lead">The SweatBox is what we affectionately call our training facility in the heart of
                        Madrid.</p>
                    <p class="mb-0">It is our main base where I work with clients, for individual and pair personal
                        training sessions as well as all our initial consultations, nutritional planning, and small
                        group classes.</p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}